<!--
<div class="row">
	< @pictuers.each do |pic|>
		<div class="col-sm-6">
			<div class="panel center-block">
				 <div class="panel-body">
          			<div class="">
          				<= image_tag pic.image.url(:medium) >
          			</div>
          			<div class="">
          				<= pic.user.email>
          			</div>
          		</div>
			</div>
		</div>
	< end >
</div>
-->
<% content_for :css do %>
	<%= stylesheet_link_tag "pagination" %>
<% end %>

<div class="row">
	<% @albums.each do |al| %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
      <span><%= raw(t('text_show_album',name: al.user.name, num: al.pictuers.length, album_name: al.title))%></span>
      <div class="caption">
        <span><%= al.description %></span>
      </div>
      <%= link_to album_pictuers_path(al) do %>
        <%= image_tag al.pictuers.first.image.url(:medium) %>
      <% end %>
      <p></p>
		</div>
	</div>
	<% end %>
</div>
<div class="flickr_pagination">
	<%= will_paginate @albums %>
</div>